<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">
<table class="table table-striped table-bordered">
    <tr>
        <th> Name  </th>
        <th> Role </th>
        <th> Status </th>
        <th sec:authorize="hasAuthority('createUser')"> Action </th>
    </tr>

    <tr th:each="user : ${users}" th:if="${!user.getRole().equals(role)}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getRole()}"><</td>
        <td th:text="${user.getStatus()}"><</td>
        <td sec:authorize="hasAuthority('createUser')">
            <form th:action="@{/users/{id}(id = ${user.getId()})}" th:object="${user}" th:method="delete">
                <button type="submit">Удалить</button>
            </form>
            <form th:action="@{/users/{id}/edit(id = ${user.getId()})}" th:object="${user}" th:method="get">
                <button type="submit">Изменить</button>
            </form>
        </td>
    </tr>
</table>

<form sec:authorize="hasAuthority('createUser')" method="get" th:action="@{/users/new}">
    <input type="submit" class="btn btn-primary" value="Добавить юзера">
</form>

</body>
</html>