<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">

<div th:each="product : ${Cart}">
    <form>
        <p>
            <span><a th:href="@{/products/{id}(id = ${product.getId()})}"><span th:text="${product.getName()}"></span></a></span>
            <span th:text="${product.getId()}"></span>
            <span th:text="${product.getTotalPrice()}"></span>
        </p>
        <label>
            <input type="number" th:field="${product.getQuantity()}">
        </label>
    </form>
</div>
<table class="table table-striped table-bordered">
    <tr>
        <th> Name </th>
        <th> Price </th>
        <th> Quantity </th>
        <th> TotalPrice </th>
    </tr>

    <tr th:if="${Cart.isEmpty()}">
        <td colspan="3"> No Products available </td>
    </tr>

    <tr th:each="product : ${Cart}">

        <td><a th:href="@{/products/{id}(id = ${product.getId()})}"><span th:text="${product.getName()}"></span></a></td>
        <td th:text="${product.getPricePerCount()}"><</td>
        <td th:text="${product.getTotalPrice()}"></td>
        <td>
            <form th:action="@{/cart/{id}(id = ${product.getId()})}" th:method="patch">
                <button type="submit" class="btn btn-primary">Удалить из корзины</button>
            </form>
        </td>
    </tr>
</table>
<br>
<form th:action="@{/cart}" th:object="${cartItem}" th:method="delete">
    <button type="submit" class="btn btn-primary">Очистить корзину</button>
</form>

<!--<form method="get" th:action="@{/products/newProduct}">-->
<!--  <input type="submit" class="btn btn-primary" value="Добавить Продукт">-->
<!--</form>-->

</body>
</html>